@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
}

li, a, button {
    font-family: 'Odibee Sans', cursive;
    font-weight: 400;
    font-size: 16px;
    color: #9CFC97;
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 2px solid #1d1d1f;
    background-color: #24252A;
}

.logo {
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 2px;
    cursor: pointer;
    color: #9CFC97;
    text-transform: uppercase;
    transform: rotate(2.5deg) skew(2.5deg);
}

.nav__links {
    list-style-type: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease-in-out 0s;
}

.nav__links li a:hover {
    color: #6BA368;
}

button {
    padding: 9px 25px;
    background-color: #6BA368;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
}

button:hover {
    background-color: #515B3A;
}